{% import 'bootstrap/wtf.html' as wtf%}
{% include 'header.html' %}
    <div class="container user_page" style="padding:10% 20%;">
        <div class="row">
            <div class="col-lg-6, col-md-10 mx-auto">
                {% with messages = get_flashed_messages()%}
                    {% if messages: %}
                      {% for message in messages:%}
                            <p style="color:red">{{ message }}</p>
                      {% endfor %}
                    {% endif %}
                {% endwith %}

                {{ wtf.quick_form(form, novalidate=True) }}

            </div>
        </div>
    </div>
{% include 'footer.html' %}